vendor/*
public/vendor/
config/development.config.php
config/autoload/local.php
config/autoload/*.local.php
!public/vendor/README.md
data/cache/*
!data/cache/.gitkeep
vagrant/.vagrant/
vagrant/puphpet/files/dot/ssh/id_rsa
vagrant/puphpet/files/dot/ssh/id_rsa.pub
